.btn {
	border-radius: 50px;
	border: none;
	color: white;
}

.-primary {
	background-color: purple;
}

.-danger {
	background: red;
}

@media screen and (min-width: 768px) {
	.header__actions .btn {
		padding: 11px 21px;
		border: 2px solid white;
		background: none;
		color: white;
		font-size: 11px;
		text-transform: uppercase;
	}

	.-lg {
		padding: 18px 55px;
		text-transform: uppercase;
		width: 290px;
	}

	.-lg {
		font-size: 12px;
	}
}